@font-face {
    font-family: NewYahei;
    src: url('../font/myh.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    outline: none;
    font-family: "NewYahei", "Microsoft Yahei";
}

a {
    text-decoration: none;
    outline: none;
    color: #000000;
}

.autoimg {
    width: 100%;
    height: 80%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    min-width: 400px;
    height: 100%;
}

.card {
    display: block;
    background-color: white;
    transition: 300ms;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 5px 0px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 1px 3px 2px;
}

.head {
    height: 42px;
    position: relative;
    z-index: 200;
    background-color: transparent;
}

.blur {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-image: url('../head.jpg');
    filter: blur(4px);
}

.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 300ms;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
}

.cover:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
}

.nav {
    float: left;
}

.nav ul {
    list-style: none;
}

.nav>ul>li, .nav>ul>div>li {
    float: left;
    text-align: center;
    line-height: 42px;
    transition: 300ms;
}

.nav>ul>li>a, .nav>ul>div>li>a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.nav>ul>li:hover, .message:hover, .nav>ul>div>li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.account {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    transition: 300ms;
}

.account>div:not(.card) {
    line-height: 42px;
    padding-right: 10px;
    float: left;
    padding-left: 10px;
}

.account:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.account img {
    float: right;
    max-width: 35px;
    margin: 3.5px;
    border-radius: 50px;
}

.message {
    float: right;
    line-height: 42px;
    padding-left: 10px;
    padding-right: 10px;
}

.info {
    display: none;
    width: 210px;
    height: 210px;
    position: absolute;
    top: 42px;
    transform: translate(-25%, 0);
}

.logo {
    position: absolute;
    left: 20%;
    top: 40%;
    z-index: 200;
}

._search {
    position: absolute;
    right: 20%;
    top: 70%;
    z-index: 200;
    width: 200px;
    height: 30px;
    border: 0px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    transition: 300ms;
}

._search input {
    float: left;
    height: 100%;
    width: 170px;
    border: 0px;
    background: transparent;
}

._search:hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.background {
    margin-top: -42px;
    background-image: url("../head.jpg");
    position: relative;
    height: 170px;
    z-index: 9;
}

.categories ul li {
    padding-left: 20px;
    padding-right: 20px;
}

.categories ul li a {
    padding: 0;
    display: inline;
    transition: 300ms;
}

.categories>ul>li:hover>a {
    border-bottom: 3px solid #00a1d6;
}

.categories ul li ul {
    display: none;
    z-index: 20;
}

.categories ul li:hover ul {
    display: block;
}

.selection li:hover {
    transition: 300ms;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.left-recommend {
    width: 48%;
    min-width: 350px;
    height: 350px;
    margin: 1%;
}

.right-recommend {
    width: 48%;
    min-width: 350px;
    height: 350px;
    margin: 1%;
}

.right-recommend>div {
    height: 350px;
}

.right-cell {
    width: 49%;
    height: 170px;
    margin: 1%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.net-cell {
    width: 23%;
    min-width: 200px;
    height: 350px;
    margin: 1%;
}

.pic {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.pro-name {
    float: left;
    margin-left: 20px;
    height: 100%;
    line-height: 35px;
}

.pro-name div, .pro-name span, .net-cell div, .net-cell span, .account div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.adjust {
    line-height: 35px;
}

.pro-price {
    float: right;
    margin-right: 20px;
    color: red;
    height: 100%;
    line-height: 35px;
}

.pro-price div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.selection-blue a:not(.selection-blue-selected):hover {
    color: #00a1d6;
}

.selection-blue-selected {
    background: #00a1d6;
    color: white;
}

.selection-blue-selected>a {
    color: white;
}

.class {
    height: 126px;
    border: 1px lightgray solid;
    margin-top: 10px;
    background-color: white;
    transition: 300ms;
    border-radius: 3px;
}

.class>div {
    height: 42px;
}

.class:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}

.button {
    float: left;
    cursor: pointer;
    width: 42px;
    line-height: 42px;
    margin: 5px;
    text-align: center;
}

.content {
    width: 80%;
    padding-left: 10%;
    padding-bottom: 20px;
    height: fit-content;
}

.content input, .content>div, .content>textarea {
    margin-top: 20px;
    display: block;
    width: 400px;
    height: 50px;
}

input, select, textarea {
    border: 1px solid lightgray;
    border-radius: 5px;
    border-radius: 3px;
    transition: 200ms;
}

input:hover, textarea:hover {
    background: white;
    box-shadow: grey 0px 1px 4px;
}

.notify {
    position: fixed;
    bottom: -64px;
    right: 10px;
    width: fit-content;
    background-color: #212121;
    color: white;
    line-height: 64px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 200;
    transition: 300ms;
}

@media screen and (min-width: 700px) and (max-width: 1600px) {
    .left-recommend {
        margin: 1%;
        min-width: 0px;
        height: 250px;
    }
    .right-recommend {
        margin: 1%;
        min-width: 0px;
        height: 250px;
    }
    .right-recommend>div {
        height: 250px;
    }
    .right-cell {
        height: 120px;
    }
    .net-cell {
        width: 23%;
        max-width: 300px;
        height: 350px;
        margin: 1%;
    }
    .pro-name {
        max-width: 110px;
    }
}

@media screen and (max-width: 700px) {
    .account>div:not(.card) {
        padding-left: 0;
        width: 50px;
    }
    .account+div {
        margin-top: 5%;
    }
    .left-recommend {
        margin: 1% auto;
    }
    .right-recommend {
        margin: 1% auto;
    }
    .net-cell {
        width: 171px;
        min-width: 0;
        height: 249.3px;
        margin: 1%;
    }
    .container {
        width: 357px;
    }
    .class {
        height: 168px;
    }
    .class>div:nth-child(2) {
        height: 84px;
    }
    .wrapper {
        width: 90%;
    }
    .left-recommend {
        min-width: 400px;
    }
    .right-recommend {
        min-width: 400px;
    }
    .container {
        width: 400px;
    }
    .container>div {
        width: 190px;
        height: 250px;
    }
    .content {
        padding-left: 0px;
    }
    .adjust {
        line-height: 25px;
    }
    .pro-name {
        max-width: 110px;
    }
}