.select-card {
    display: inline-block;
    border-radius: 50px;
    border: 1px solid lightgrey;
    margin-left: 1.4%;
    margin-right: 1.4%;
    text-align: center;
    line-height: 42px;
    transition: 300ms;
    background: white;
}

.process {
    width: 30%;
    height: 42px;
    margin-top: 20px;
}

.select-card:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}

.select-card-hover:hover {
    border-color: transparent;
    background: #00a1d6;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
    color: white;
    cursor: pointer;
}

.select-card-selected {
    border-color: transparent;
    background: #00a1d6;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
    color: white;
}

.select-card-content {
    position: relative;
    top: 5%;
    margin-left: 5%;
}

.select-card-content>div {
    margin-top: 2%;
    margin-bottom: 2%;
}

.tab>ul>li>a {
    font-size: 16px;
    line-height: 42px;
    border-bottom: initial !important;
}

.tab>ul>li {
    background: initial !important;
}

.name {
    font-size: 20px;
    float: left;
    margin-left: 30px;
    line-height: 130px;
}

.name-right {
    width: 250px;
    top: 20px;
    right: 0px;
    position: absolute;
}

#cursor {
    background-color: #00a1d6;
    height: 3px;
    width: 120px;
    position: absolute;
    left: 5%;
    bottom: 0px;
    transition: 200ms;
}

.table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border-bottom: 1px solid lightgray;
}

.table td {
    height: 64px;
}

.filename {
    width: 60%;
    line-height: 42px;
    display: inline-block;
}

.date {
    width: 15%;
    line-height: 42px;
    display: inline-block
}

.passed {
    width: 10%;
    line-height: 42px;
    display: inline-block;
}

.filename-cell {
    width: 60%;
}

.modal {
    width: 400px;
    height: fit-content;
    z-index: 500;
    position: fixed;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
}

.modal_backgrd {
    z-index: 400;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: 300ms;
}

@media screen and (max-width: 1600px) {
    .process {
        width: 28%;
    }
}

@media screen and (max-width: 600px) {
    .name {
        line-height: 65px;
    }
    .name-right {
        width: 230px;
        top: 65px;
        right: 0px;
        position: absolute;
    }
    .date {
        width: 20%;
    }
    .filename-cell, .filename {
        width: 40%
    }
    .passed {
        width: fit-content;
    }
}