<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>人力和项目服务平台</title>
    <link rel="icon" type="image/x-icon" href="./img/logo.ico" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href="./css/material-design-icons.css" rel="stylesheet">
    <link type="text/css" rel="styleSheet" href="./css/main.css" />
    <link type="text/css" rel="styleSheet" href="./css/detail.css" />
    <style type="text/css">
        .person-pic {
            max-width: 200px;
            margin: 1%;
            border-radius: 200px;
        }

        @media screen and (max-width: 700px) {
            .person-pic {
                max-width: 160px;
            }
        }
    </style>
</head>

<body style="background-color: rgb(246, 246, 246);">
    <div id="notify" class="card notify" style="display: none;"></div>
    <div class="top">
        <div class="head">
            <div class="blur"></div>
            <div class="cover"></div>
            <div class="wrapper">
                <img>
                <div class="nav">
                    <ul>
                        <li><a href="./index.html">首页</a></li>
                        <li><a href="./search.html?type=0">全部招标</a></li>
                        <li><a>全部工作室</a></li>
                    </ul>
                </div>
                <div style="float: right;height: 42px;padding-right: 10px;">
                    <div class="account" onmouseover="display(0);" id="person">
                        <div>游客</div>
                        <img id="personalPic">
                    </div>
                    <div class="card info" onmouseleave="display(1)">
                        <div class="card" style="height: 84px;" id="info">
                            <div style="line-height: 42px;text-align: center;">您是：游客</div>
                            <div style="line-height: 42px;text-align: center;"></div>
                        </div>
                        <ul id="option" class="selection" style="width: 100%;list-style: none;">
                            <li style="line-height: 42px;text-align: center;"><a>我的项目</a></li>
                            <li style="line-height: 42px;text-align: center;"><a>我的收藏</a></li>
                            <li style="line-height: 42px;text-align: center;"><a>登录</a></li>
                        </ul>
                    </div>
                </div>
                <div class="message">消息</div>
            </div>
        </div>
        <div class="background">
            <div class="logo"><img src="./img/logo2.png"></div>
            <form id="search" class="_search">
                <input type="text" placeholder="你想搜索">
                <button type="submit" style="background: transparent;border: transparent;"><i class="material-icons search" style="line-height: 30px;color: #00a1d6;cursor: pointer;"></i></button>
            </form>
        </div>
    </div>
    <div class="wrapper" style="height: 42px;">
        <div class="categories nav">
            <ul id="ctg">
                <li><a>首页</a></li>
                <li><a>网站开发</a>
                    <ul class="selection card" style="width: 100px;position: absolute;">
                        <li><a>前端开发</a></li>
                        <li><a>网站维护</a></li>
                    </ul>
                </li>
                <li><a>移动应用开发</a>
                    <ul class="selection card" style="width: 100px;position: absolute;">
                        <li><a>安卓APP</a></li>
                        <li><a>苹果APP</a></li>
                    </ul>
                </li>
                <li><a>H5开发</a>
                    <ul class="selection card" style="width: 100px;position: absolute;">
                        <li><a>H5模板</a></li>
                        <li><a>H5定制</a></li>
                    </ul>
                </li>
                <li><a>UI设计</a>
                    <ul class="selection card" style="width: 100px;position: absolute;">
                        <li><a>网站UI</a></li>
                        <li><a>移动UI</a></li>
                    </ul>
                </li>
                <li><a>测试运维</a></li>
                <li><a>云服务</a></li>
                <li><a>IT综合服务</a></li>
            </ul>
        </div>
    </div>

    <div id="modal" style="display: none">
        <div class="modal_backgrd" onclick="$('modal').children[0].setAttribute('style','background: rgba(0, 0, 0, 0);');$('modal').children[1].setAttribute('style','top: 150%');$('modal').setAttribute('style','display: none;')"></div>
        <div class="card modal">
            <div style="position: absolute;top: 25px;width: 100%;text-align: center;font-size: 16px;">相关信息</div>
            <form id="change" class="content" style="margin-top: 70px;padding-left: 10%;" onsubmit="return false;">
                <input type="button" style="width: 100%" value="支付费用" onclick="">
                <input name="duetime" type="date" placeholder="到期时间" style="width: 100%" required>
                <input type="submit" class="select-card select-card-hover" style="width: 100px;height: 42px;" value="确认">
            </form>
        </div>
    </div>

    <div class="wrapper">
        <img id="pic" class="person-pic">
        <div id="manage" style="width: 100px;float: right;display: none;">
            <div class="select-card select-card-hover" style="width: 100px;float: right; margin-bottom: 20px;" onclick="window.location.href='./center.html'">切换到管理页</div>
            <div id="ad" class="select-card select-card-hover" style="width: 100px;float: right;">我要上推荐</div>
        </div>
        <div id="person_info" style="display: inline-block;vertical-align: top;margin-top: 1%;line-height: 35px;margin-left: 2%;">
            <div style="font-size: 20px;">名字</div>
            <div>联系方式：</div>
            <div>介绍</div>
        </div>
    </div>
    <div class="wrapper">
        <div style="font-size: 20px;padding-left: 1%;">已完成项目</div>
        <div id="container" class="container" style="top: 20px;"></div>
    </div>
</body>

<!-- firebase -->
<script src="./js/firebase/firebase-app.js"></script>
<script src="./js/firebase/firebase-messaging.js"></script>
<script src="./js/firebase/firebase.js"></script>

<script src="./js/utils.js"></script>
<script src="./js//main.js"></script>
<script>
    var myid;
    var mytype;

    var id = window.location.href.split("?id=")[1];
    sync_info($("person"), $("info"), $("option"));

    sendAjax("post", "display_info", "id=" + id, function (response) {
        initFirebase();
        var json = JSON.parse(response);
        $("pic").setAttribute("src", json.img);
        $("person_info").children[0].innerHTML = json.username;
        $("person_info").children[1].innerHTML += "电话：" + json.tel + "&nbsp;邮箱：" + json.email;
        $("person_info").children[2].innerHTML = json.info;
        todo(JSON.stringify(json.complete));
        if (json.id == "self") {
            $("ad").onclick = function () {
                $("change").onsubmit = function () {
                    sendAjax("post", "ad_register_stu", serialize(this) + "&id=" + id, function (response) {
                        if (response == "success")
                            notify("注册成功！你将会出现在首页");
                    });
                    return false;
                };
                transition();
            }
            $("manage").setAttribute("style", "width: 100px;float: right;");
        }
    });
</script>

</html>