<!DOCTYPE html>
<meta charset="utf-8">
<html style="height: 100%;" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>人力和项目服务平台</title>
    <link rel="icon" type="image/x-icon" href="./img/logo.ico" />
    <link type="text/css" rel="styleSheet" href="./css/login.css" />
</head>

<body background="./img/backimg.jpg" style="height: 100%;background-position: center;overflow: hidden;">
    <div style="width: 60%;height: 42px;margin: 0 auto;">
        <div class="nav">
            <ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./search.html?type=0">全部招标</a></li>
                <li><a href="./search.html?type=1">全部工作室</a></li>
            </ul>
        </div>
    </div>
    <div class="hover">
        <div class="blur"></div>
        <div class="cover"></div>
        <h1 class="title">人力和项目服务平台</h1>
        <form id="login" onsubmit="return isRight()">
            <div class="content">
                <input name="name" id="account" type="text" placeholder="账号或者E-mail" required>
                <input name="password" id="password" type="password" placeholder="密码" required>
            </div>
            <div>
                <input type="radio" name="type" value="0" checked>发包公司
                <input type="radio" name="type" value="1">工作室
                <input type="radio" name="type" value="2">管理员
            </div>
            <div>
                <button type="submit" style="width: 80%;margin-top: 20px;height: 30px">登录</button>
            </div>
            <div class="register" onclick="window.location.href = 'register.html';"><span>注册</span></div>
        </form>
    </div>
</body>

<script src="./js/utils.js"></script>
<script>
    var account = $("account");
    var password = $("password");
    function isRight() {
        var radios = $name("type");
        var type;
        for (const radio of radios) {
            if (radio.checked)
                type = radio.value;
        }
        sendAjax("post", "login", "type=" + type + "&name=" + account.value + "&password=" + password.value, function todo(response) {
            if (response == "success")
                window.location.href = 'index.html';
            else {
                account.style.border = "1px solid red";
                password.style.border = "1px solid red";
            }
        });
        return false;
    }

    account.onblur = function () {
        account.style.border = "transparent";
        password.style.border = "transparent";
    }
</script>

</html>