<!DOCTYPE html>
<meta charset="utf-8">
<html style="height: 100%;" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>注册</title>
    <link rel="icon" type="image/x-icon" href="./img/logo.ico" />
    <link href="./css/material-design-icons.css" rel="stylesheet">
    <link type="text/css" rel="styleSheet" href="./css/login.css" />
    <style type="text/css">
        .title {
            top: 10%
        }

        .content input {
            margin-top: 10px;
            height: 30px;
        }

        form {
            top: 55%;
        }

        form button {
            width: 100%;
            margin-top: 20px;
            height: 30px;
        }
    </style>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
</head>

<body background="./img/backimg.jpg" style="height: 100%;background-position: center;overflow: hidden;">
    <div style="width: 60%;height: 42px;margin: 0 auto;">
        <div class="nav">
            <ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./search.html?type=0">全部招标</a></li>
                <li><a href="./search.html?type=1">全部工作室</a></li>
            </ul>
        </div>
    </div>
    <div class="hover">
        <div class="blur"></div>
        <div class="cover"></div>
        <i class="material-icons arrow_back" onclick="window.location.href = './login.html';" style="cursor: pointer;padding-left: 10%;padding-top: 10%;color: grey"></i>
        <div class="title">
            <button id="company" checked>发包公司</button>
            <button name="type" id="studio">工作室</button>
            <button name="type" id="manager">管理员</button>
        </div>
        <form id="register_company" onsubmit="return isEmpty(0)" class="content">
            <input name="account" placeholder="公司名" type="text" required>
            <input name="name" placeholder="联系人姓名" type="text" required>
            <input name="phone" placeholder="电话" type="text" required>
            <input name="password" placeholder="密码" type="password" required>
            <input name="repeatpassword" placeholder="重复密码" onblur="checkpassword(0)" type="password" required>
            <input name="email" placeholder="邮箱" type="email" required>
            <button type="submit">注册</button>
        </form>

        <form id="register_studio" onsubmit="return isEmpty(1)" class="content" style="display: none">
            <input name="account" placeholder="工作室名称" type="text" required>
            <input name="name" placeholder="联系人姓名" type="text" required>
            <input name="phone" placeholder="电话" type="text" required>
            <input name="password" placeholder="密码" type="password" required>
            <input name="repeatpassword" placeholder="重复密码" onblur="checkpassword(1)" type="password" required>
            <input name="email" placeholder="邮箱" type="email" required>
            <button type="submit">注册</button>
        </form>

        <form id="register_manager" onsubmit="return isEmpty(2)" class="content" style="display: none">
            <input name="account" placeholder="账户名" type="text" required>
            <input name="name" placeholder="真实名称" type="text" required>
            <input name="phone" placeholder="电话" type="text" required>
            <input name="password" placeholder="密码" type="password" required>
            <input name="repeatpassword" placeholder="重复密码" onblur="checkpassword(2)" type="password" required>
            <input name="email" placeholder="邮箱" type="email" required>
            <button type="submit">注册</button>
        </form>
    </div>
</body>

<script src="./js/utils.js"></script>
<script>
    function checkpassword(a) {
        var password = $name("password")[a];
        var repeatpassword = $name("repeatpassword")[a];
        var node = document.createElement("div");
        node.setAttribute("style", "font-size: 10px; color: red");
        node.setAttribute("id", "error");
        if (password.value.length < 6) {
            node.innerText = "密码至少大于6位";
            if ($("error") == null)
                repeatpassword.after(node);
            else
                $("error").innerText = "密码至少大于6位";
            return false;
        }
        if (password.value != repeatpassword.value) {
            node.innerText = "密码必须一致";
            if ($("error") == null)
                repeatpassword.after(node);
            else
                $("error").innerText = "密码必须一致";
            return false;
        } else
            if ($("error") != null)
                $("error").remove();
        return true;
    }

    function isEmpty(a) {
        if (!checkpassword(a))
            return false;
        var data = "type=" + a + "&username=" + $name("account")[a].value + "&name=" + $name("name")[a].value + "&password=" + $name("password")[a].value +
            "&phone=" + $name("phone")[a].value + "&email=" + $name("email")[a].value;
        sendAjax("post", "register", data, function todo(response) {
            if (response == "success")
                window.location.href = 'index.html';
            else if (response == "repeat")
                notify("账户已存在,此电话号码已被注册");
            else
                notify("与服务器中断连接，请检查网络");
        });
        return false;
    }

    var list = new Array($("company"), $("studio"), $("manager"));
    var contentlist = new Array($("register_company"), $("register_studio"), $("register_manager"));

    function switchtype(a) {
        for (let i = 0; i < 3; i++)
            if (a != i) {
                contentlist[i].setAttribute("style", "display:none");
                list[i].removeAttribute("style");
            }
            else {
                contentlist[i].removeAttribute("style");
                list[i].setAttribute("style", "background: white;");
            }
    }

    for (let i = 0; i < 3; i++) {
        list[i].onclick = function () {
            switchtype(i);
        }
    }
    switchtype(0);
</script>

</html>