<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>人力和项目服务平台</title>
    <link rel="icon" type="image/x-icon" href="./img/logo.ico" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href="./css/material-design-icons.css" rel="stylesheet">
    <link type="text/css" rel="styleSheet" href="./css/main.css" />
</head>

<body style="background-color: rgb(246, 246, 246);">
    <div id="notify" class="card notify" style="display: none;"></div>
    <div class="top">
        <div class="head">
            <div class="blur"></div>
            <div class="cover"></div>
            <div class="wrapper">
                <img>
                <div class="nav">
                    <ul>
                        <li><a href="./index.html">首页</a></li>
                        <li><a href="./search.html?type=0">全部招标</a></li>
                        <li><a href="./search.html?type=1">全部工作室</a></li>
                    </ul>
                </div>
                <div style="float: right;height: 42px;padding-right: 10px;">
                    <div class="account" onmouseover="display(0);" id="person">
                        <div>游客</div>
                        <img id="personalPic">
                    </div>
                    <div class="card info" onmouseleave="display(1)">
                        <div class="card" style="height: 84px;" id="info">
                            <div style="line-height: 42px;text-align: center;">您是：游客</div>
                            <div style="line-height: 42px;text-align: center;"></div>
                        </div>
                        <ul id="option" class="selection" style="width: 100%;list-style: none;">
                            <li style="line-height: 42px;text-align: center;"><a>我的项目</a></li>
                            <li style="line-height: 42px;text-align: center;"><a>我的收藏</a></li>
                            <li style="line-height: 42px;text-align: center;"><a>登录</a></li>
                        </ul>
                    </div>
                </div>
                <div class="message">消息</div>
            </div>
        </div>
        <div class="background">
            <div class="logo"><img src="./img/logo2.png"></div>
            <form id="search" class="_search">
                <input type="text" placeholder="你想搜索">
                <button type="submit" style="background: transparent;border: transparent;"><i class="material-icons search" style="line-height: 30px;color: #00a1d6;cursor: pointer;"></i></button>
            </form>
        </div>
    </div>
    <div class="wrapper class">
        <div class="nav" style="width: 100%;border-top-left-radius: 3px;border-top-right-radius: 3px;">
            <div style="float: left;line-height: 42px;padding-left: 3%;padding-right: 3%">类型</div>
            <ul class="selection-blue" id="type">
                <li><a>招标</a></li>
                <li><a>工作室</a></li>
            </ul>
        </div>
        <div class="nav" style="width: 100%;border-radius: 0px">
            <div style="float: left;line-height: 42px;padding-left: 3%;padding-right: 3%">分类</div>
            <ul class="selection-blue" id="categories">
                <li><a class="selection-blue-selected">全部</a></li>
                <li><a>网站开发</a></li>
                <li><a>移动应用开发</a></li>
                <li><a>H5开发</a></li>
                <li><a>UI设计</a></li>
                <li><a>测试运维</a></li>
                <li><a>云服务</a></li>
                <li><a>IT综合服务</a></li>
            </ul>
        </div>
        <div class="nav" style="width: 100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;">
            <div style="float: left;line-height: 42px;padding-left: 3%;padding-right: 3%">子类</div>
            <ul class="selection-blue" id="subcategories">
                <li><a class="selection-blue-selected">全部</a></li>
                <div style="display: none">
                    <li><a>前端开发</a></li>
                    <li><a>网站维护</a></li>
                </div>
                <div style="display: none">
                    <li><a>安卓APP</a></li>
                    <li><a>苹果APP</a></li>
                </div>
                <div style="display: none">
                    <li><a>H5模板</a></li>
                    <li><a>H5定制</a></li>
                </div>
                <div style="display: none">
                    <li><a>网站UI</a></li>
                    <li><a>移动UI</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="container" id="container">
        </div>
    </div>
    <div class="wrapper">
        <div id="pages" style="margin: 0 auto;width: fit-content;height: 42px;">
            <div id="pageup" class="card button selection-blue"><a>上一页</a></div>
        </div>
    </div>
</body>

<!-- firebase -->
<script src="./js/firebase/firebase-app.js"></script>
<script src="./js/firebase/firebase-messaging.js"></script>
<script src="./js/firebase/firebase.js"></script>

<script src="./js/utils.js"></script>
<script src="./js/main.js"></script>
<script>
    var myid;
    var mytype;
    var row = 4;

    sync_info($("person"), $("info"), $("option"), () => initFirebase());

    var data = window.location.href.split("&");
    var type = (data[0] || "").split("?type=")[1] || 0;
    var ctg = (data[1] || "").split("ctg=")[1] || 0;
    var subctg = (data[2] || "").split("subctg=")[1] || 0;
    var keyword = (data[3] || "").split("keyword=")[1] || "";
    document.title = decodeURI(keyword) + "的搜索结果";
    $("search").children[0].value = decodeURI(keyword);
    var type_elements = $("type").children;
    type_elements[type].children[0].setAttribute("class", "selection-blue-selected");
    for (let i = 0; i < type_elements.length; i++) {
        type_elements[i].onclick = function () {
            change(type_elements, i);
            type = i;
            search();
        };
    }

    var categories = $("categories").getElementsByTagName("li");
    var subcategories = $("subcategories").getElementsByTagName("div");
    var allsub = $("subcategories").getElementsByTagName("li");
    for (let i = 0; i < categories.length; i++) {
        const category = categories[i];
        category.onmouseover = function () {
            for (let j = 0; j < subcategories.length; j++) {
                if (j == i - 1)
                    subcategories[i - 1].style.display = "block";
                else
                    subcategories[j].style.display = "none";
            }
        }
        category.onclick = function () {
            change(categories, i);
            ctg = i;
            subctg = 0;
            clearsub();
            $("subcategories").children[0].children[0].setAttribute("class", "selection-blue-selected");
            search();
        };
    };

    for (let i = 0; i < subcategories.length; i++) {
        var sub = subcategories[i].getElementsByTagName("li");
        for (let j = 0; j < sub.length; j++) {
            sub[j].onclick = function () {
                $("subcategories").children[0].children[0].removeAttribute("class");
                clearsub();
                subcategories[i].getElementsByTagName("li")[j].children[0].setAttribute("class", "selection-blue-selected");
                change(categories, i + 1);
                subctg = j + 1;
                ctg = i + 1;
                search();
            };
        }
    }
    $("subcategories").children[0].onclick = function () {
        $("subcategories").children[0].children[0].setAttribute("class", "selection-blue-selected");
        clearsub();
        subctg = 0;
        search();
    }

    if (ctg == 0 && subctg == 0)
        search();
    else {
        categories[ctg].onmouseover();
        if (subctg == 1)
            subcategories[ctg - 1].children[subctg - 1].click();
        else
            categories[ctg].onclick();
    }

    function change(type, option) {
        for (let j = 0; j < type.length; j++) {
            if (j == option)
                type[j].children[0].setAttribute("class", "selection-blue-selected");
            else
                type[j].children[0].removeAttribute("class");
        }
    }

    function clearsub() {
        for (const subcategory of subcategories) {
            var sub = subcategory.getElementsByTagName("li");
            for (let i = 0; i < sub.length; i++) {
                sub[i].children[0].removeAttribute("class");
            }
        }
    }

    var first = 1;
    var currentpage = 1;
    function search() {
        $("container").innerHTML = "";
        index = 1;
        first = 1;
        currentpage = 1;
        sendAjax("post", "search", "type=" + type + "&ctg=" + ctg + "&subctg=" + subctg + "&number=" + sizeofRow * row + "&first=" + first + "&keyword=" + keyword, todo);
    }

    function pageSwitch(a) {
        $("container").innerHTML = "";
        index = 1;
        first += sizeofRow * row;
        currentpage = a;
        sendAjax("post", "search", "type=" + type + "&ctg=" + ctg + "&subctg=" + subctg + "&number=" + sizeofRow * row + "&first=" + first + "&keyword=" + keyword, todo);
    }
</script>

</html>