<widget id="A6029863126384"  version="0.0.1">
    <name>人力服务外包平台</name>
    <description>
        人力服务外包平台
    </description>
    <author email="CommAdama@outlook.com">
        hair404
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
</widget>